<%= form_for @pool do |f| %>
  <% if @pool.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @pool.errors.full_messages.each do |msg| %>
        <li class="error"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, placeholder: 'Name' %>
  </div>
  <div class="actions">
    <%= f.submit 'Create', class: 'button' %>
  </div>
<% end %>
