.hidden {
  display: none;
}

.loading {
  margin: 300px;
  text-align: center;
  font-weight: 300;
}

.help {
  margin-top: 0;
  font-size: 11pt;
  font-weight: lighter;
  text-align: center;

  color: #666;

  .try {
    color: #2980b9;
    cursor: pointer;
    font-weight: bolder;
    text-decoration: underline;
  }

}

input {
  position: relative;
  background: transparent;
  font-size: 18pt;
  padding: 5px 10px;
  outline: none;
  width: 100%;

  border: 1px solid #666;
  box-sizing: border-box;
}

input:focus {
  border-color: #2980b9;
}

.search {

  position: relative;
  width: 600px;
  margin: 50px auto 0;

  .spinner {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.results {

  width: 960px;
  margin: 50px auto 0;

  h2 {
    font-size: 18pt;
  }

  .result-count {
    margin-top: 0px;
    font-size: 10pt;
    color: #bdc3c7;
  }

  .headline {
    color: #BBB;
    padding-left: 10px;
    font-size: 14pt;
  }

  .active {
    background: #F5F5F5;
  }

  .no-results {
    margin-top: 250px;
    text-align: center;
  }


  .result {
    cursor: pointer;

    .name {
      margin-left: 5px;
      margin-right: 5px;
    }

    &:hover {
      background: #F5F5F5;
    }
  }

  .profile {

    padding-bottom: 10px;

    h1 {
      margin: 10px 10px 0px 10px;
      font-weight: lighter;
    }

    h2, h3 {
      margin: 0 10px;
      font-weight: 400;
    }

    h3 {
      margin-top: 10px;
    }

    p {
      margin: 0 10px;
    }

    ol, ul, li {
      margin: 0 0 0 10px;
      padding: 0;
      list-style: none;
    }

    img {
      margin: 10px;
      float: left;
    }
  }

}